<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>지킬로 깃허브에 무료 블로그 만들기</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css"> <!-- /css 앞에 을 추가한다. -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.scss"> <!-- /css 앞에 을 추가한다. -->

  </head>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
